@charset "UTF-8";
/*Utils :
     Variables / Fonctions / Mixins / Placeholders.
Base.
Composants.
Layout.
Pages.
Thèmes.*/
/*backgroung-color*/
/*color*/
/*responsive*/
/*---mixin---*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*----styles-----*/
/*--shrikhand exclusive logo*/
h1 {
  font-family: shrikhand;
  font-size: 25px;
  letter-spacing: 1px;
}

h2 {
  font-family: shrikhand;
  font-size: 20px;
  letter-spacing: 1px;
}

h3 {
  font-size: 22px;
  font-weight: 900;
}

h4 {
  font-size: 18px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
}

h5 {
  font-size: 13px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
}

h6, .TitleMenuItem {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: -0.05em;
  font-weight: 100;
}

a {
  text-decoration: none;
}

i {
  color: #474f4e;
}

input {
  cursor: pointer;
}

.TxtRM {
  font-size: 20px;
  font-weight: 900;
}

/*-------map*-------*/
.FormMap {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 3px #d6dbdf;
  background-color: #e5e5e5;
}
.FormMap #map {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
}
.FormMap input::placeholder {
  color: black;
  font-weight: 800;
  font-family: roboto;
}

#searching {
  width: 130px;
  padding: 10px;
  outline: none;
}

.InSearching {
  color: black;
  border-color: transparent;
  background-color: #e5e5e5;
}

input {
  padding-left: 10px;
}

/*--desktop--*/
@media screen and (min-width: 999px) {
  .FormMap {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e5e5;
    border-top: solid 3px #d6dbdf;
  }

  .InSearching {
    width: 200px;
  }
}
/*--tablet--*/
@media screen and (min-width: 767px) {
  .FormMap {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e5e5;
    border-top: solid 3px #d6dbdf;
  }

  .InSearching {
    width: 200px;
  }
}
/*----Button Resto----*/
.ButtonResto {
  width: 215px;
  height: 50px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 95%);
  transition: box-shadow 500ms linear, transform 150ms linear;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
.ButtonResto:hover {
  width: 205px;
  height: 45px;
  opacity: 0.8;
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 95%);
  transition: box-shadow 500ms linear, transform 150ms linear;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

/*----Button Menu Resto----*/
.ButtonMenu {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ButtonMenuResto {
  width: 190px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 95%);
  transition: box-shadow 500ms linear, transform 150ms linear;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 15px;
  font-weight: 400;
  border-radius: 25px;
  border: none;
  transition: box-shadow 500ms linear, transform 150ms linear;
}
.ButtonMenuResto:hover {
  width: 185px;
  height: 50px;
  opacity: 0.8;
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 95%);
  transition: box-shadow 500ms linear, transform 150ms linear;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

/*--desktop--*/
@media screen and (min-width: 999px) {
  .ButtonMenu {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
/*----------Footer----------*/
footer {
  color: white;
  background-color: #474f4e;
  padding: 20px;
}

.FooterItem {
  display: flex;
  justify-content: left;
  padding: 5px;
  gap: 10px;
}

.pFooter {
  letter-spacing: normal;
  font-weight: 100;
  color: white;
}

.fa-utensils, .fa-hands-helping {
  color: white;
}

/*--tablet--*/
@media screen and (min-width: 767px) {
  .FooterTitle {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
  }

  .FooterBloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
/*--desktop--*/
@media screen and (min-width: 999px) {
  .FooterTitle {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
  }

  .FooterBloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
/*logo*/
.logo {
  width: 170px;
  height: 30px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.HeaderPages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 65px;
}

.fa-arrow-left {
  color: black;
}

/*--Img--*/
.img {
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  display: flex;
  position: relative;
  padding-bottom: 10px;
}

.ImgRestoMenu {
  width: 100%;
  border-radius: 0;
}

.ImgBloc {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0px;
}

.TxtImg {
  width: 100%;
}

.h4TxtImg {
  font-family: shrikhand;
  font-size: 25px;
  letter-spacing: 1px;
  padding-left: 20px;
}

/*--tablet--*/
@media screen and (min-width: 767px) {
  .HeaderPages {
    justify-content: center;
  }

  .img {
    width: 50%;
  }
}
/*--desktop--*/
@media screen and (min-width: 999px) {
  .HeaderPages {
    justify-content: center;
  }

  .img {
    width: 30%;
    height: 200px;
  }

  .ImgBloc {
    height: 40px;
  }
}
.heart {
  width: 30px;
  height: 30px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
}

.HeartNormal {
  width: 30px;
  height: 30px;
  position: absolute;
  color: black;
  opacity: 1;
  z-index: 1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease-in-out;
}
.HeartNormal :hover {
  opacity: 0;
  font-weight: 0;
  cursor: pointer;
}

.HeartFull:hover {
  opacity: 1;
  transition: transform 250ms ease;
  animation: AnimHeart 250ms;
}

@keyframes AnimHeart {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 0.25;
    transform: scale(1.25);
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
    transform: scale(1.25);
  }
  90% {
    opacity: 0.9;
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.HeartFull {
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background: linear-gradient(63deg, #9356DC 0%, #99E2D0 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: initial;
  transform: scale(1);
  animation: transform 0.4s cubic-bezier(0.43, 0.21, 1, 0.45);
}

/*--------Functioning--------*/
.functioning {
  padding: 20px 30px 50px 0px;
}

.SelectMenu {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.TitleFonc {
  padding-left: 20px;
}

.select {
  width: 300px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-left: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.fa-mobile-alt:hover, .fa-list-ul:hover, .fa-store:hover {
  cursor: pointer;
  color: #9356DC;
}

.number {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 14px;
  position: relative;
  left: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #9356DC;
  margin-top: 25px;
}

.TxtFunc {
  width: 220px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 25px;
}

/*--Desktop--*/
@media screen and (min-width: 999px) {
  .functioning {
    padding: 10px;
  }

  .select {
    width: 230px;
    padding-left: 20px;
  }

  .TitleFonc {
    text-align: center;
    margin: 10px;
  }

  .TxtFunc {
    font-size: 16px;
    width: 85%;
    margin-left: 15px;
  }

  .FuncMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
/*--tablet--*/
@media screen and (min-width: 767px) {
  .TitleFonc {
    text-align: center;
  }
}
/*------HomePage-------*/
.HomePage {
  margin-top: 10px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

/*--Desktop--*/
@media screen and (min-width: 999px) {
  .HomePage {
    padding-bottom: 10px;
  }
}
/*loading visibility: hidden;*/
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: #f2f2f2;
  position: absolute;
  z-index: 20;
  animation: LoadingPage 3s ease-in-out normal forwards;
}

@keyframes LoadingPage {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    visibility: hidden;
  }
}
.BlocLoading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ImgLoading {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.AnimLoading {
  width: 100px;
  height: 100px;
  background: radial-gradient(#9356DC, #FF79DA);
  border: 20px solid #9356DC;
  border-radius: 50%;
  border-top: 20px solid #FF79DA;
  border-bottom: 20px solid #99E2D0;
  margin: auto;
  margin-top: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
.fondu-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/*-------Look Resto----------*/
.LookResto {
  padding: 30px;
  text-align: center;
}

.TxtReserveMenu {
  margin: 10px;
}

/*--Desktop--*/
@media screen and (min-width: 999px) {
  .LookResto {
    padding: 10px;
  }

  .TxtReserveMenu, .TxtDiscoveryResto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
/*----Resto---------*/
.resto {
  padding: 35px 20px 55px 20px;
  background-color: #f2f2f2;
}

.LinkResto {
  color: black;
}

.CardResto {
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.ImgResto {
  width: 100%;
  object-fit: cover;
  height: 175px;
  border-radius: 25px 25px 0 0;
}

.BlocResto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 25px 25px;
}

.TxtResto {
  color: black;
  padding: 10px 10px 10px 19px;
}

.new {
  width: 80px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 12px;
  font-weight: 600;
  background-color: #99E2D0;
  color: #278827;
}

/*--Desktop--*/
@media screen and (min-width: 999px) {
  .resto {
    padding: 10px;
  }

  .TitleResto {
    margin: 10px;
  }

  .LinkResto {
    width: 40%;
    height: 120%;
  }

  .TwoMenusResto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .TitleResto {
    text-align: center;
  }
}
/*--tablet--*/
@media screen and (min-width: 767px) {
  .TitleResto {
    text-align: center;
  }

  .TwoMenusResto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .LinkResto {
    width: 40%;
  }
}
/*--Menu--*/
.BlocMenu {
  background-color: #f2f2f2;
  padding-bottom: 50px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.h5Menu {
  margin-bottom: 5px;
}

.link {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 5px 0 10px 0;
}

.BlocAnim {
  width: 345px;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.BlocItem {
  width: 270px;
  padding-left: 10px;
}

.pMenuItem {
  font-size: 13px;
  letter-spacing: 0.3px;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price {
  width: 65px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 0 15px 15px 0;
  font-weight: bolder;
  padding-right: 15px;
}

.h5Menu {
  margin-left: auto;
  margin-right: auto;
}

.MenuPlats, .MenuDesserts {
  padding-top: 15px;
}

/*--tablet--*/
@media screen and (min-width: 767px) {
  .BlocMenu {
    border-top: solid 3px #d6dbdf;
  }

  .h5Menu {
    text-align: center;
  }

  .BlocAnim, .link {
    margin-left: auto;
    margin-right: auto;
  }
}
/*--desktop--*/
@media screen and (min-width: 1200px) {
  .BlocMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    padding-bottom: 0;
    border-top: solid 3px #d6dbdf;
  }

  .MenuEntrees, .MenuPlats, .MenuDesserts {
    width: 30%;
    padding: 0;
  }
}
/*--Check anim--*/
.BlocAnim {
  display: flex;
  flex-direction: row;
}
.BlocAnim:hover .BlocItem {
  width: 200px;
}
.BlocAnim:hover .price {
  padding-left: 15px;
  width: 50px;
}
.BlocAnim:hover > .check {
  margin-right: 0px;
  opacity: 1;
}
.BlocAnim:hover .fa-check-circle {
  transition: all 0.3s 0.3s;
  transform: rotate(360deg);
}

.fa-check-circle {
  color: white;
  background-color: #99E2D0;
}

.check {
  width: 55px;
  height: 65px;
  opacity: 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  margin-right: -75px;
  transition-duration: 0.8s;
}

.MenuEntrees {
  animation: AnimMenu 3s;
}

.MenuPlats {
  animation: AnimMenu 6s;
}

.MenuDesserts {
  animation: AnimMenu 9s;
}

@keyframes AnimMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=restaurant.css.map */
