/*-------Mobil First-----------*/
/*Homepage avec spin*/
body {
    font-family : 'Roboto', sans-serif;
    margin : 0;
}
h1 {
    font-family : shrikhand;
    font-size : 25px;
    letter-spacing : 1px;
}
h2 {
    font-family : shrikhand;
    font-size : 20px;
    letter-spacing :1px;
}
h3{
    font-size: 22px;
    font-weight: 900;
}
h4{
    font-size: 18px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
}
h5{
    font-size: 13px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}
h6{
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 10px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -0.05em;
    font-weight: 100;
}
a {
    color : white;
    text-decoration : none;
}
i{
    color: #474f4e;
}
input{
    cursor: pointer;
}
/*--Loading Spinner--*/
.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #f2f2f2;
    position: absolute;
    z-index: 20;
    animation: LoadingPage 3s ease-in-out normal forwards ;
}
@keyframes LoadingPage {
    0% {opacity: 1;}
    75% {opacity: 1;}
    99% {opacity: 0;}
    100% {opacity: 0;
        visibility: hidden;}}
.BlocLoading{
    display: flex;
    flex-direction: column;
}
.ImgLoading{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.AnimLoading{
    border: 20px solid #9356DC;
    border-radius: 50%;
    border-top: 20px solid #FF79DA;
    border-bottom: 20px solid #99E2D0 ;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    top:0; right: 0; bottom: 0; left: 0;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);
            opacity: 1;
        visibility: hidden;}
}
.fondu-out{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
/*---------Header-------*/
header {
    text-align : center;
}
/*------HomePage-------*/
.HomePage{
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
/*------Map----------*/
.FormMap {
    height: 50px;
    display : flex;
    flex-direction : row;
    justify-content : center;
    background-color : #eaeaea;
}
#map {
    margin-top : auto;
    margin-bottom: auto;
}
input::placeholder{
    color : black;
    font-weight : 800;
    font-family : roboto;
}
#searching {
    width : 130px;
    padding : 10px;
    outline : none;
}
.InSearching {
    border-color : transparent;
    background-color : #EAeaea;
}
input {
    padding-left : 10px;
}
/*-------Look Resto----------*/
.LookResto {
    padding : 30px;
    text-align: center;
}
.ReserveMenu {
    font-size : 25px;
    font-weight : 900;
    margin : 10px;
}
/*----Button Resto----*/
.ButtonResto{
    width: 215px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    background: linear-gradient( 175deg, #FF79DA 5%, #9356DC 95%);
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
    transition: box-shadow 500ms linear, transform 150ms linear;
    margin-left: auto;
    margin-right: auto;
}
    .ButtonResto:hover{
        width: 205px;
        height: 45px;
        box-shadow: 0 20px 40px 0 rgb(0 0 0 / 20%);
    }

/*--------Functioning--------*/
.functioning{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.select{
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f6f6f6;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-left: 30px;
    box-shadow: 5px 5px 5px 3px #F2F2F2; 
}
.fa-mobile-alt:hover, .fa-list-ul:hover, .fa-store:hover{
    cursor: pointer;
    color:#9356dc ;
}
.number{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 14px;
    color: white;
    background-color: #9356dc;
    margin-top: 25px;
}
.TxtFunc{
    width: 220px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
}
/*----Resto---------*/
.resto{
    padding: 55px 20px 55px 20px;
    background-color: #f2f2f2;
}
.CardResto{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    position:relative;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 5px 3px #F2F2F2; 
    margin-bottom: 20px;
}
.ImgResto{
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.BlocResto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 0 25px 25px;
}
.TxtResto{
    padding: 10px 10px 10px 19px;
}
.new{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top:15px;
    font-size: 12px;
    font-weight: 600;
    background-color: #99e2d0;
    color: #278827;
}
/*---Heart-------*/
.heart{
    width: 25px;
    height: 25px;
   position: relative;
   padding: 25px 25px 25px 25px; 
    cursor: pointer;
}
.HeartNormal{
    color: black;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
}
.HeartNormal:hover{
    color:transparent;
    background-color: transparent;
}
.HeartFull{
    z-index: 1;
    color: #FF79DA;
    cursor: pointer;
}
/*----Pages Resto----*/
.HeaderPages{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:65px;
    padding: 20px 25px 10px 25px;
}
/*--Img--*/
.img{
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
}
.ImgRestoMenu{
    width: 100%;
    border-radius: 0;
}
.ImgBloc{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px 30px 0 0;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0px;
}
.TxtImg{
    width: 100%;
}
.h4TxtImg{
    font-family: shrikhand;
    font-size: 25px;
    letter-spacing: 1px;
    padding-left: 20px;
}
/*--Menu--*/
.BlocMenu{
    background-color:#f2f2f2 ;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.MenuEntrees{
    padding-top: 15px;
    padding-bottom: 15px;
}
.h5Menu{
    margin-bottom:5px;
}
.link{
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
    margin: 5px 0 10px 0 ;
}
.BlocItem{
    width: 350px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 5px 3px #F2F2F2;
    margin-bottom: 10px
}
.TxtMenuItem{
    width: 240px;
    padding-left: 10px;
}
.pMenuItem{
    font-size: 13px;
    letter-spacing: 0.3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    padding-top: 5px;
}
.price{
    width: 65px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    font-weight: bolder;
    padding-bottom: 10px;
    transform: translateX(50px);
}
.MenuPlats, .MenuDesserts{
    padding-top: 15px;
}
/*--Check anim--*/
.check{
    width: 55px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    background-color: #99e2d0;
    transform: translateX(80px);
}
.CheckStart{
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color:#99e2d0;
}
.BlocItem:hover .check{
    transform: translateX(0px);
    transition-duration: 4s;
}
    .BlocItem:hover .CheckStart{
    animation: CheckRotate 4s linear 1;
}
    @keyframes CheckRotate {
        0% {transform: rotate(0deg);}

        99% {transform: rotate(360deg);}        100% {transform: rotate(0deg);}
              
        100% {transform: rotate (0deg);}
    }    
.BlocItem:hover .price{
    transform: translateX(0px);
    transition-duration: 4s;
    padding-left:30px;
}
.BlocItem:hover .TxtMenuItem{
    width: 200px;
}

/*----Button Menu Resto----*/
.ButtonMenuResto{
    width: 190px;
    height: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    background: linear-gradient( 175deg, #FF79DA 5%, #9356DC 95%);
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
    transition: box-shadow 500ms linear, transform 150ms linear;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom: 10px;
}
    .ButtonMenuResto:hover{
        width: 205px;
        height: 45px;
        box-shadow: 0 20px 40px 0 rgb(0 0 0 / 20%);
    }

/*----------Footer-----------------*/
footer {
    color : white;
    background-color : #474f4e;
    padding : 25px;
}
.FooterItem {
    display : flex;
    flex-direction : row;
    padding: 5px;
    gap : 10px;
}
.pFooter {
    letter-spacing: normal;
    font-weight: 100;
}
.fa-utensils, .fa-hands-helping{
    color: white;
}

