/*----Button Resto----*/
.ButtonResto{
    width: 215px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    @include flex-direction-row-center;
    @include margin-center;
    @include border-button;
    @include color-button;
    @include box-shadow-gray;
    &:hover{
        width: 205px;
        height: 45px;
        @include color-button-light;
        @include box-shadow-gray-dark;
    }
}

/*----Button Menu Resto----*/
.ButtonMenu{
    background-color: $background-color-gray-light;
    padding-top:40px;
    padding-bottom: 40px;
}
.ButtonMenuResto{
    width: 190px;
    height: 55px;
    @include flex-direction-row-center;
    @include margin-center;
    @include border-button;
    @include color-button;
    @include box-shadow-gray;
    color: $color-white;
    font-size: 15px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    transition: box-shadow 500ms linear, transform 150ms linear;
    &:hover{
            width: 185px;
            height: 50px;
            @include color-button-light;
            @include box-shadow-gray-dark;
        }
}
/*--desktop--*/
@media screen and (min-width: map-get($desktop, desktop))
{
.ButtonMenu{
    padding-top: 10px;
    padding-bottom: 10px;
}
}