/*-----------map*--------------------*/
.FormMap {
    height: 50px;
    @include flex-direction-row-center;
    border-top: solid 3px $color-border-HomePage;
    background-color :  darken($background-color-gray-light, 5%);
        & #map {
        margin-top: auto;
        margin-bottom: auto;
        color:$color-black;
        }
        & input::placeholder{
        color :$color-black;
        font-weight : 800;
        font-family : roboto;
}
}
#searching {
    width : 130px;
    padding : 10px;
    outline : none;
    
}
.InSearching {
    color: $color-black;
    border-color : transparent;
    background-color : darken($background-color-gray-light, 5%);
}
input {
    padding-left : 10px;
}

/*--desktop--*/
@media screen and (min-width: map-get($breakpoints, desktop))
{
    .FormMap{
        width: 200px;
     @include margin-center;
     background-color: darken($background-color-gray-light, 5%);
    border-top: solid 3px $color-border-HomePage;
    }
 .InSearching{
     width: 200px;
 }  

}