/*--Check anim--*/
.BlocAnim{
    display: flex;
    flex-direction: row;
    &:hover .BlocItem{
        width: 200px;
    }
    &:hover .price{
        padding-left: 15px;
        width: 50px;
    }
    &:hover > .check{
        margin-right: 0px;
        opacity: 1;
    }
    &:hover .fa-check-circle{
        transition: all 0.3s 0.3s;
        transform: rotate(360deg);
    }
}
.fa-check-circle{
    color:$color-white;
    background-color: $background-color-tertiary;
}
.check{
    width: 55px;
    height: 65px;
    opacity: 0;
    font-size: 18px;
    @include flex-direction-row-center;
    border-radius: 0 15px 15px 0;
    background-color: $background-color-tertiary;
    margin-right: -75px;
    transition-duration: 0.8s;
}