/*--Check anim--*/
.check{
    width: 55px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    background-color: $background-color-tertiary;
    transform: translateX(80px);
}
.CheckStart{
    @include margin-center;
    color:$color-white;
    background-color:$background-color-tertiary;
}
        .BlocItem:hover .check{
        transform: translateX(0px);
        transition-duration: 4s;
        }
        .BlocItem:hover .CheckStart{
        animation: CheckRotate 4s linear 1;
        }
    
     @keyframes CheckRotate {
        0% {transform: rotate(0deg);}

        99% {transform: rotate(360deg);}       
              
        100% {transform: rotate (0deg);}
    }    
.BlocItem:hover .price{
    transform: translateX(0px);
    transition-duration: 4s;
    padding-left:30px;

}

.BlocItem:hover .TxtMenuItem{
    width: 200px;
}

/*--desktop--*/
@media screen and (min-width: map-get($breakpoints, desktop)){

.check{
transform: translateX(2000px);
}

}