/*--------Functioning--------*/
.functioning{
    padding: 20px 30px 50px 0px;
}
.SelectMenu {
    display: flex;
    justify-content: center;
    @include margin-center;
}
.TitleFonc{
    padding-left: 20px;
}
.select{
    width: 300px;
    height: 75px; 
    @include flex-direction-row-center;
    background-color: $background-color-gray-light;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-left: 30px;
    @include box-shadow-gray; 
}
.fa-mobile-alt:hover, .fa-list-ul:hover, .fa-store:hover{
    cursor: pointer;
    color: $background-color-primary;
}
.number{
    width: 30px;
    height: 30px;
    color: $color-white;
    font-size: 14px;
    position: relative;
    left: 14px;
    @include flex-direction-row-center;
    border-radius: 25px;
    background-color: $background-color-primary;
    margin-top: 25px;
}
.TxtFunc{
    width: 220px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
}
/*--Desktop--*/
@media screen and (min-width: map-get($desktop, desktop))
{
    .functioning{
        padding: 10px;
    }
    .select{
        width: 230px;
        padding-left: 20px;
    }
    .TitleFonc{
     text-align: center;
     margin: 10px;
    }   
    .TxtFunc{
     font-size: 16px;
     width: 85%;
     margin-left: 15px;
    }
    .FuncMenu{
     display: flex;
     flex-direction: row;
     justify-content: center;
    }
}
/*--tablet--*/
@media screen and (min-width: map-get($tablet,tablet))
{
    .TitleFonc{
     text-align: center;
    }
}