/*------HomePage-------*/
.HomePage{
    margin-top: 10px;
    padding-bottom: 60px;
    background-color: $background-color-gray;   
}
/*--Desktop--*/
@media screen and (min-width: map-get($desktop, desktop))
{
    .HomePage{
        padding-bottom: 10px;
    }
}