/*loading visibility: hidden;*/
.loading{
    width: 100%;
    height: 100%;
    @include flex-direction-row-center;
    opacity: 0;
    background-color: $background-color-gray-light;
    position: absolute;
    z-index: 20;
    animation: LoadingPage 3s ease-in-out normal forwards ;
}
@keyframes LoadingPage {
    0% {opacity: 1;}
    80% {opacity: 0.8;}
    100% {visibility: hidden;}
}
.BlocLoading{
    @include flex-direction-row-center;
    flex-direction: column;
}
.ImgLoading{
    width: 80%;
   @include margin-center;
}
.AnimLoading{
    width: 100px;
    height: 100px;
    background: radial-gradient($background-color-primary, $background-color-secondary);
    border: 20px solid $background-color-primary; 
    border-radius: 50%;
    border-top: 20px solid $background-color-secondary;
    border-bottom: 20px solid $background-color-tertiary;
    
    margin: auto;
    margin-top: 50px;
    top:0; right: 0; bottom: 0; left: 0;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);
        opacity: 1;}
    100% {transform: rotate(360deg);
          visibility: hidden;}
}
.fondu-out{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}