/*--Menu--*/
.BlocMenu{
    background-color:$background-color-gray-light ;
    padding-bottom: 50px;
    padding: 15px;
    @include margin-center;
    align-items: flex-start;
    @include margin-center;
}
.h5Menu{
    margin-bottom:5px;
}
.link{
    width: 40px;
    height: 3px;
    background-color:$background-color-tertiary;
    margin: 5px 0 10px 0;
}
.BlocAnim{
    width: 345px;
    height: 65px;
    @include flex-direction-row-center;
    flex-direction: column;
    justify-content: start;
    border-radius: 15px;
    background-color: $color-white;
    @include box-shadow-gray;
    margin-bottom: 10px;
}
.BlocItem{
    width: 270px;
    padding-left: 10px;
}
.pMenuItem{
    font-size: 13px;
    letter-spacing: 0.3px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.price{
    width: 65px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 15px 15px 0;
    font-weight: bolder;
    padding-right: 15px;
}
.h5Menu{
    @include margin-center;
}
.MenuPlats, .MenuDesserts{
    padding-top: 15px;
}
/*--tablet--*/
@media screen and (min-width: map-get($tablet,tablet)){
    .BlocMenu{
        border-top: solid 3px $color-border-HomePage;
    } 
    .h5Menu{
        text-align: center
    }
    .BlocAnim, .link{
        @include margin-center;
    }    
}
/*--desktop--*/
@media screen and (min-width: map-get($tabdesk, tabdesk)){
  .BlocMenu{
      @include flex-direction-row-center;
     @include margin-center;
     align-items: flex-start;
     border-top: solid 3px $color-border-HomePage;
  } 
  .MenuEntrees, .MenuPlats, .MenuDesserts{
      width: 30%;
      padding: 0;
  } 
}