/*--Menu--*/
.BlocMenu{
    background-color:$background-color-gray-light ;
    padding-bottom: 50px;
    padding: 15px;
}
.h5Menu{
    margin-bottom:5px;
}
.link{
    width: 40px;
    height: 3px;
    background-color:$background-color-tertiary;
    margin: 5px 0 10px 0 ;
}
.BlocAnim{
    width: 345px;
    height: 65px;
    @include flex-direction-row-center;
    flex-direction: column;
    justify-content: start;
    border-radius: 15px;
    background-color: $color-white;
    @include box-shadow-gray;
    margin-bottom: 10px;
}
.TitleMenuItem, .TxtMenuItem{
    width: 280px;
    padding-left: 10px;
}
.TxtMenuItem{
    @include flex-direction-row-center;
    justify-content: space-between;
    text-align: left;
}
.pMenuItem{
    font-size: 13px;
    letter-spacing: 0.3px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.price{
    font-weight: bolder;
    transform: translateX(50px);
    padding-right: 20px;

}
.MenuPlats, .MenuDesserts{
    padding-top: 15px;
}

/*--tablet--*/
@media screen and (min-width: map-get($tablet,tablet)){

}

/*--desktop--*/
@media screen and (min-width: map-get($breakpoints, desktop)){
  .BlocMenu{
      @include flex-direction-row-center;
     justify-content: space-between; 
  } 
  .MenuEntrees, .MenuPlats, .MenuDesserts{
      width: 32%;
  }
  .BlocItem{
      width: 80%;
  }
}