
.MenuEntrees{
    animation: AnimMenu 3s;
}
.MenuPlats{
    animation: AnimMenu 6s;
}
.MenuDesserts{
    animation: AnimMenu 9s;
}
@keyframes AnimMenu {
    0% {opacity: 0;}
    50% {opacity:0.4;
        transform: scale(1.1) ;}
    80% {opacity: 0.8;}
    100% {opacity: 1;}
  }