$background-color-gray: #f6f6f6;
$background-color-gray-light:#f2f2f2;
$background-color-gray-dark: #474f4e;

$background-color-primary: #9356DC;
$background-color-secondary:#FF79DA;
$background-color-tertiary:#99E2D0;

$breakpoints: (mobile: 599px);
$breakpoints: (tablet: 600px);
$breakpoints: (desktop: 800px);