/*----------Footer-----------------*/
footer {
    color: white;
    background-color : $background-color-gray-dark;
    padding : 20px;
   
}
.FooterItem {
    @include flex-direction-row-center; 
    justify-content: left;
    padding: 5px;
    gap : 10px;
}
.pFooter {
    letter-spacing: normal;
    font-weight: 100;
    color : white;
}
.fa-utensils, .fa-hands-helping{
    color: white;
}

/*--tablet--*/
@media screen and (min-width: map-get($tablet,tablet))
{
    .FooterTitle{
      text-align: center;
      font-size: 22px;
      letter-spacing: 2px;  
      
    }
    .FooterBloc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
} 

/*--desktop--*/
@media screen and (min-width: map-get($breakpoints, desktop))
{
    .FooterTitle{
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;  
      }
      .FooterBloc{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
}
