/*----------Footer----------*/
footer {
    color:$color-white;
    background-color : $background-color-gray-dark;
    padding : 20px;
}
.FooterItem {
    display: flex; 
    justify-content: left;
    padding: 5px;
    gap : 10px;
}
.pFooter {
    letter-spacing: normal;
    font-weight: 100;
    color:$color-white;
}
.fa-utensils, .fa-hands-helping{
    color:$color-white;
}
/*--tablet--*/
@media screen and (min-width: map-get($tablet,tablet))
{
    .FooterTitle{
      text-align: center;
      font-size: 22px;
      letter-spacing: 2px;  
    }
    .FooterBloc{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
} 

/*--desktop--*/
@media screen and (min-width: map-get($desktop, desktop))
{
    .FooterTitle{
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;  
      }
      .FooterBloc{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
}