.HeaderPages{
    @include flex-direction-row-center;
    justify-content: flex-start;
    padding-left: 20px;
    gap:65px;
}
.fa-arrow-left{
    color: $color-black;
}
/*--Img--*/
.img{
    @include image;
    @include margin-center;
    height: 250px;
    display: flex;
    position: relative;
    padding-bottom: 10px;
}
.ImgRestoMenu{
    width: 100%;
    border-radius: 0;
}
.ImgBloc{
    width: 100%;
    height: 70px;
    @include flex-direction-row-center;
    border-radius: 30px 30px 0 0;
    background-color: $background-color-gray-light;
    position: absolute;
    bottom: 0px;
}
.TxtImg{
    width: 100%;
}
.h4TxtImg{
    font-family: shrikhand;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
}
/*--tablet--*/
@media screen and (min-width: map-get($tablet,tablet)){
    .HeaderPages{
        justify-content: center;
    }
    .img{
        width: 50%;
    } 
}   
/*--desktop--*/
@media screen and (min-width: map-get($desktop, desktop)){
    .HeaderPages{
    justify-content: center;
    }
    .img{
    width: 30%;
    height: 200px;
    }
    .ImgBloc{
        height: 40px;
    }
}